
<!-- <div [hidden]="!restaurantList"> -->
  <h1>Restaurant List</h1>
  <button (click)="onRestaurantSelect(restaurant.id)" *ngFor="let restaurant of restaurantList">
    {{ restaurant.name }}
   </button>
<!-- </div> -->
